!**/.gitkeep
/config.yml
/permission.yml
/config
/logs
/qb_multi
/server/eula.txt
/server/.fabric
/server/config
/server/libraries
/server/logs
/server/versions
/server/world
/server/fabric-server-launcher.properties
/server/server.properties
/server/fabric-server-launch.jar
/server/server.jar
/server/fabric-server-launch.jar
/server/banned-ips.json
/server/banned-players.json
/server/ops.json
/server/usercache.json
/server/whitelist.json
